/* START CSS ####################################### */
/* GENERAL CSS PART ----------------- */
:root {
  font-size: 10pt;
}

.sidecontent {
  max-width: 1200px;
  margin: 0 auto;
}

.sidecontent img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

/* STYLING CSS ----------------- */
.space-right {
  padding-right: 8px;
}

.space-left {
  padding-left: 8px;
}

.box-styling img {
  border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
}

.space-top-down {
  padding: 8px 0;
}

*:focus {
  outline: none;
}


/* NAVBAR MOBILE ----------------- */
header {
  background-color: rgba(42, 42, 42, 1);
}

header>.sidecontent {
  padding: 16px;
}

.navi {
  display: flex;
  justify-content: space-between;
}

.navi-right {
  display: flex;
}

.nav-bar-d {
  display: none;
}

.logo img {
  width: 8rem;
  max-width: 130px;
}

.navi-right img {
  width: 1.6rem;
  max-height: 24px;
  margin-left: 16px;
}

.navi-right button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.burger-menu img {
  width: 1.6rem;
  max-height: 24px;
  margin-right: 16px;
}

.open-flyout {
  position: absolute;
  width: 0px;
  height: 100%;
  background-color: rgba(42, 42, 42, 1);
  padding: 20px 0px;
  color: rgba(255, 255, 255, 1);
  left: 0;
  border-top: none;
  z-index: 1;
  top: 0;
  -webkit-transition: width 1s;
  transition: width 1s;
  overflow: hidden;
}

.open-flyout:hover,
.burger-menu:hover .open-flyout {
  width: 150px;
}

.burger-menu li {
  color: rgba(255, 255, 255, 1);
  padding: 7px 15px;
  text-align: left;
  cursor: pointer;
}

/* CONTENT MOBILE ----------------- */
main>.sidecontent {
  padding: 0 16px;
}

.mobile-content {
  display: block;
}

/* HERO PICTURE ----------------- */
.hero-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 8px;
}

.hero-pic img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.hero-pic h1 {
  position: absolute;
  font-size: 2.6rem;
  color: rgba(255, 255, 255, 1);
}

/* HALF TEASER ----------------- */
.half-teaser {
  display: flex;
  justify-content: space-between;
}

.half-teaser a img {
  width: 100%;
  max-width: 100%;
}

.half-teaser-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.half-teaser-content a {
  color: rgba(255, 255, 255, 1);
}

.half-teaser-content p {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  text-align: center;
  padding: 0 5px;
}

.half-teaser-content p span {
  font-weight: 700;
}

/* POST CSS ----------------- */
.post-profile-d {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 8px;
}

.post-profile-m {
  display: none;
}

.post-profile-pic {
  width: 100%;
  max-width: 35%;
}

.post-profile-pic img {
  width: 100%;
  max-width: 100%;
}

.post-profile-infos {
  width: 100%;
  max-width: 65%;
}

.post-profile-infos span {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: rgba(42, 42, 42, 1);
}

.post-profile-infos p {
  font-size: 0.9rem;
  font-weight: 600;
  color: rgba(3, 126, 137, 1);
  display: block;
  padding-top: 8px;
}

.post-profile-infos i {
  color: rgba(42, 42, 42, 1);
  padding-right: 16px;
}

.aktion-menu {
  align-self: flex-start;
}

.aktion-menu i {
  color: rgba(42, 42, 42, 1);
  font-size: 1.1rem;
}

.post-pic img {
  width: 100%;
  max-width: 100%;
}

.post-extras {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-tags {
  width: 65%;
  display: flex;
  justify-content: space-between;
}

.post-tags li {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgba(3, 126, 137, 1);
  background-color: rgba(225, 225, 225, 1);
  padding: 8px;
  border-radius: 0.3rem;
}

.comment-ico {
  display: flex;
  justify-content: flex-end;
  width: 20%;
  color: rgba(42, 42, 42, 1);
  align-self: center;
}

.comment-ico i {
  color: rgba(42, 42, 42, 1);
  font-size: 1.4rem;
}

.desktop-content {
  display: none;
}

/* LAYER CSS --------------  */
.modal-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

#loginLayer {
  display: none;
  width: 25rem;
  height: auto;
  background-color: #f2f2f2;
  position: absolute;
  position: fixed;
  padding: 28px 28px 48px 28px;
  top: 20%;
  border: 1px solid rgba(42, 42, 42, 1);
  z-index: 1;
}

#loginLayer form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loginLayer form .input-box {
  padding: 8px 0;
  display: flex;
  width: 80%;
  flex-direction: column;
}

#loginLayer form .input-box input {
  border: none;
  margin: 8px 0;
  padding: 8px;
  color: rgba(178, 85, 0, 1);
  background-color: rgba(225, 225, 225, 1);
}

#loginLayer label {
  padding-right: 8px;
  color: rgba(42, 42, 42, 1);
}

#loginLayer textarea {
  border: none;
  height: 80px;
  margin: 8px 0;
  padding: 8px;
  background-color: rgba(225, 225, 225, 1);
}

#kontaktLayer {
  display: none;
  width: 25rem;
  height: auto;
  background-color: #f2f2f2;
  position: absolute;
  position: fixed;
  padding: 28px 28px 48px 28px;
  top: 10%;
  border: 1px solid rgba(42, 42, 42, 1);
}

#kontaktLayer form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#kontaktLayer form .input-box {
  padding: 8px 0;
  display: flex;
  width: 80%;
  flex-direction: column;
}

#kontaktLayer form .input-box input {
  border: none;
  margin: 8px 0;
  padding: 8px;
  color: rgba(178, 85, 0, 1);
  background-color: rgba(225, 225, 225, 1);
}

#kontaktLayer label {
  padding-right: 8px;
  color: rgba(42, 42, 42, 1);
}

#kontaktLayer textarea {
  border: none;
  height: 80px;
  margin: 8px 0;
  padding: 8px;
  background-color: rgba(225, 225, 225, 1);
}

.exit-button {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: end;
  padding: 8px 8px 25px 8px;
}

.exit-button button i {
  color: rgba(250, 0, 37, 1);
  cursor: pointer;
  font-size: 1.7rem;
}

.exit-button button {
  color: rgba(250, 0, 37, 1);
  border: none;
  background-color: transparent;
}

.layer-submit-button {
  margin-top: 20px;
}

.layer-submit-button input {
  border: none;
  padding: 10px 20px;
  border-radius: 5px 5px 5px 5px;
  background-color: rgba(255, 144, 0, 1);
  color: rgba(255, 255, 255, 1)
}

.pic-layer{
  display: none;
  width: 25rem;
  height: auto;
  background-color: #f2f2f2;
  position: absolute;
  position: fixed;
  padding: 28px 28px 48px 28px;
  top: 10%;
  border: 1px solid rgba(42, 42, 42, 1);
}
.pic-layer img{
  width: 100%;
}

  .pic-layer .post-profile-m,.post-pic img,.post-profile-infos-top{
    display: block;
  }
  .pic-layer .post-profile-m .post-profile-infos-top {
    display: flex;
  }

.footer-navi ul li {
  padding: 15px;
}


/* START MEDIA QUERY 380px ############################ */
@media (max-width: 380px) {
  :root {
    font-size: 7.5pt;
  }

  /* NAVBAR CSS MOBILE 380px ----------------- */
  .navi {
    display: flex;
    align-items: center;
  }

  .burger-menu img {
    max-width: 18px;
    max-height: 18px;
  }

  .open-flyout:hover,
  .burger-menu:hover .open-flyout {
    width: 200px;
  }

  .logo img {
    max-width: 86px;
  }

  .navi-right {
    margin-left: auto;
  }

  .navi-right img {
    max-width: 18px;
    max-height: 18px;
  }

  /* POST CSS MOBILE 380px ----------------- */
  .post-profile-d {
    display: none;
  }

  .post-profile-m {
    display: block;
    padding-bottom: 8px;
  }

  .post-profile-m .post-profile-infos-top {
    display: flex;
    align-items: center;
  }

  .post-profile-m .post-profile-pic {
    max-width: 20%;
  }

  .post-profile-m .post-profile-infos {
    display: flex;
    width: 100%;
    max-width: 100%;
    line-height: 1rem;
  }

  .post-profile-m .post-profile-infos i {
    color: rgba(42, 42, 42, 1);
    padding-right: 5px;
  }

  /* FOOTER CSS MOBILE 380px ----------------- */
  footer .footer-content-m {
    font-weight: 400;
  }
}
/* ENDE MEDIA QUERY 380px ############################ */

/* START MEDIA QUERY 550px ############################ */
@media (min-width: 550px) {
  :root {
    font-size: 12pt;
  }

  /* POST CSS MOBILE 550px ----------------- */
  .post-profile-pic {
    width: 100%;
    max-width: 25%;
  }

  .post-profile-pic img {
    width: 100%;
    max-width: 100%;
  }

  .post-profile-infos {
    width: 100%;
    max-width: 75%;
    align-self: flex-end;
  }

  .post-profile-infos span {
    font-size: 12pt;
    font-weight: 600;
    line-height: 1.5rem;
    color: rgba(42, 42, 42, 1);
  }

  .post-profile-infos p {
    font-size: 10pt;
    font-weight: 600;
    color: rgba(3, 126, 137, 1);
    display: block;
    padding-top: 8px;
  }

  .post-tags {
    width: 70%;
    display: flex;
    justify-content: flex-start;
  }

  .post-tags li {
    margin-right: 28px;
  }

  .comment-ico {
    width: 30%;
  }
}
/* ENDE MEDIA QUERY 550px ############################ */

/* FOOTER CSS MOBILE ####################################### */
footer {
  background-color: rgba(42, 42, 42, 1);
}

.footer-content-m {
  font-weight: 600;
  padding: 16px 16px 28px 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-content-d {
  display: none;
}

/* NAVI CSS FOOTER ----------------- */
.footer-navi, a {
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.footer-navi span {
  display: block;
  padding-bottom: 16px;
  font-size: 1.6rem;
}

.footer-navi ul {
  display: flex;
  align-content: center;
  padding-bottom: 16px;
}

/* KONTAKT FORMULAR CSS FOOTER ----------------- */
.footer-kf {
  width: 100%;
  max-width: 328px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(3, 126, 137, 1);
  padding: 8px;
  border: none;
  border-radius: 0.3rem;
  margin: 0 auto 28px auto;
  cursor: pointer;
}

.footer-kf span, i {
  color: rgba(255, 255, 255, 1);
}

.kontakt-formular {
  text-align: center;
}

.kontakt-formular>span {
  color: rgba(255, 255, 255, 1);
  display: block;
  padding-bottom: 16px;
  padding-top: 16px;
}

/* SOCIAL ICONS FOOTER ----------------- */
.social-icons {
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.footer-icons {
  display: flex;
  justify-content: center;
  font-weight: 400;
}

.social-icons span {
  display: block;
  padding-bottom: 16px;
}

.social-icons ul li {
  display: block;
  font-size: 2rem;
  padding: 0 4px;
}

/* START MEDIA QUERY 865px ############################ */
@media (min-width: 865px) {

  /* ALGEMEINE CSS --------------  */
  .space-right {
    padding-right: 14px;
  }

  .space-left {
    padding-left: 14px;
  }

  .box-styling img {
    border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
  }

  .space-top-down {
    padding: 14px 0;
  }

  /* NAVBAR DESKTOP ----------------- */
  #navi-mobile {
    display: none;
  }

  .nav-bar-d {
    display: flex;
    align-items: center;
  }

  header {
    -webkit-transition: 1s ease-out;
    transition: 1s ease-out;
  }

  header:hover {
    background-color: rgba(255, 255, 255, 1);
  }

  header:hover .logo,
  header:hover .menu-points,
  header:hover .nav-bar-right-d {
    filter: brightness(0);
  }

  .menu-points .active span {
    border-bottom: 1px solid;
  }

  .menu-points span:hover {
    border-bottom: 1px solid;
  }

  .nav-bar-right-d {
    -webkit-transition: 0.7s ease-out;
    transition: 0.7s ease-out;
  }

  .menu-points {
    -webkit-transition: 0.7s ease-out;
    transition: 0.7s ease-out;
  }

  .logo {
    width: 15%;
    padding-right: 16px;
    -webkit-transition: 0.7s ease-out;
    transition: 0.7s ease-out;
  }

  .nav-bar-d .menu-points {
    display: flex;
    color: rgba(255, 255, 255, 1);
    width: 60%;
  }

  .nav-bar-right-d {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 25%;
  }

  .menu-points li {
    color: rgba(255, 255, 255, 1);
    margin-right: 28px;
    cursor: pointer;
  }

  .nav-bar-right-d li form {
    display: flex;
    align-items: center;
    padding-right: 24px;
  }

  .nav-bar-right-d input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
  }

  .nav-bar-right-d button {
    border: none;
    background-color: transparent;
    display: flex;
    cursor: pointer;
  }

  /* FOOTER CSS DESKTOP -------------- */
  .footer-aerea {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .footer-navi ul li {
    padding: 0 0 8px 0;
    text-align: left;
  }

  /* LAYER CSS DESKTOP --------------  */
  #layer {
    width: 41rem;
    top: 20%;
  }
  /* ENDE MEDIA QUERY 865px ############################ */

  /* START MEDIA QUERY 1050px ############################ */
  @media (max-width: 1050px) {

    /* NAVI CSS DESKTOP -------------- */
    .nav-bar-right-d input {
      display: none;
    }
  }

  .nav-bar-right-d img {
    width: 1.5rem;
  }

  .search-box::-webkit-search-cancel-button {
    display: none;
  }

  .login-icon {
    display: inline;
  }

  .login-icon a img {
    width: 1.5rem;
  }

  /* CONTENT CSS DESKTOP -------------- */
  .mobile-content {
    display: none;
  }

  .desktop-content {
    display: block;
  }

  .hero-pic {
    padding-bottom: 13px;
    display: none;
  }

  /* SLIDER CSS -------------------------------------------------------- */
  .hero-slider-container {
    position: relative;
  }

  .prev-slide, .next-slide {
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    width: auto;
    top: 46%;
    padding: 16px;
    margin-top: -22px;
    font-size: 2rem;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
  }

  .next-slide {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .effect {
    -webkit-animation-name: effect;
    -webkit-animation-duration: 1.5s;
    animation-name: effect;
    animation-duration: 1.5s;
  }

  @keyframes effect {
    from {
      opacity: .6
    }

    to {
      opacity: 1
    }
  }

  /* -------------------------------------------------------- */
  .half-teaser-line {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .half-teaser-content {
    display: flex;
    width: 50%;
  }

  .post-group {
    display: flex;
    width: 50%;
  }

  .post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .pic-down {
    display: flex;
    position: relative;
  }

  .overlay {
    display: flex;
    background-color: rgba(42, 42, 42, 0.3);
    font-size: 2.2rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: rgba(255, 255, 255, 1);
    position: absolute;
  }

  .overlay i {
    padding: 20%;
  }

  .pic-down .overlay i:hover {
    transform: scale(1.5);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .pic-down .overlay:hover {
    background-color: transparent;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  /* FOOTER CSS DESKTOP ----------------- */
  .footer-content-m {
    display: flex;
    justify-content: space-between;
  }

  .footer-content-d:not(.footer-icons) {
    font-weight: 600;
  }

  .footer-navi {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .footer-navi li {
    padding: 3px 0;
  }

  .footer-navi ul {
    display: inline;
    text-align: left;
  }

  .social-icons {
    text-align: right;
    margin: auto 0;
  }
}
/* ENDE MEDIA QUERY 1050px ############################ */
