/* Allgemeine CSS Werte für Text Bereiche */
header div, main div, footer div, body div{
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-size: 2.6rem;
}
h3{
  font-size: 65px;
  font-size: 4.063rem;
}
h5{
font-size: 46px;
  font-size: 2.875rem;
}
h6{
font-size: 36px;
  font-size: 2.250rem;
  font-weight: 700;
}
