/* START CSS ####################################### */
/* GENERAL CSS PART ----------------- */
:root {
  font-size: 10pt
}

.hide {
  display: none;
}

/* SIDECONTENT CSS PART ----------------- */
.user-infos {
  padding-top: 16px;
}

.user-infos-top {
  display: flex;
  align-items: center;
}

.user-pic {
  width: 20%;
}

.user-data span {
  font-size: 1rem;
  font-weight: 600;
  color: rgba(42, 42, 42, 1);
  padding-bottom: 10px;
}

.user-data i {
  padding-right: 5px;
  font-size: 1.2rem;
  color: rgba(42, 42, 42, 1);
}

.user-data p {
  line-height: 1.2rem;
  color: rgba(3, 126, 137, 1);
  font-weight: 600;
}

.user-infos .aktion-menu {
  margin-left: auto;
}

.counter .box-styling {
  overflow: hidden;
  border-radius: 5px 5px 5px 5px;
}

.counter {
  display: flex;
  justify-content: space-around;
}

.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter-container span {
  padding-bottom: 10px;
}

.counter-box {
  text-align: center;
  font-size: 1.2rem;
  min-width: 38px;
  background-color: rgba(3, 126, 137, 1);
  padding: 8px;
  color: rgba(255, 255, 255, 1);
}

.item-filter {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

.item-filter img {
  width: auto;
  height: auto;
}

/* POST CSS PART ----------------- */
.post-container .post-content-us .post-profile-infos-us {
  color: rgba(3, 126, 137, 1);
  font-weight: 600;
  line-height: 1.2rem;
}

.post-container .post-content-us .post-profile-infos-us i {
  padding-right: 10px;
  color: rgba(42, 42, 42, 1);
}

.post-content-us img {
  margin-bottom: 8px;
}

.box-styling-items img {
  overflow: hidden;
  border-radius: 0.3rem 0.3rem 0.3rem 0.3rem;
}

.post-text {
  color: rgba(42, 42, 42, 1);
  display: flex;
  align-items: baseline;
}

.post-text span {
  padding-right: 10px;
  font-weight: 600;
  font-size: 1.1rem;
}

.post-text p {
  line-height: 1.2rem;
  font-weight: 400;
  font-size: 0.9rem;
}

.load-more {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.load-more>p {
  padding: 12px 20px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 144, 0, 1);
  border-radius: 0.5rem;
  align-items: center;
}

.load-more span {
  font-size: 1rem;
}

.load-more p i {
  font-size: 1.2rem;
  padding-right: 10px;
}

/* START MEDIA QUERY 380px ############################ */
@media (max-width: 380px) {
  :root {
    font-size: 7.5pt;
  }
}
/* ENDE MEDIA QUERY 380px ############################ */

/* START MEDIA QUERY 550px ############################ */
@media (min-width: 550px) {
  :root {
    font-size: 12pt;
  }

  .user-infos .box-styling-items img {
    overflow: hidden;
    border-radius: 0.1rem 0.1rem 0.1rem 0.1rem;
  }

  /* AUSRUESTUNG FILTER */
  .item-filter {
    grid-template-columns: auto auto auto auto;
  }
}
/* ENDE MEDIA QUERY 550px ############################ */

/* START MEDIA QUERY 865px ############################ */
@media (min-width: 865px) {

  /* STYLING CSS #################################### */
  .space-right {
    padding-right: 8px;
  }

  .space-left {
    padding-left: 8px;
  }

  .space-top-down {
    padding: 8px 0;
  }

  .nav-bar-d {
    margin-bottom: 14px;
  }

  /* START CSS BREITEN DER CONTAINER */
  .algemeiner-post-container {
    width: 49%;
  }

  .user-infos {
    max-width: 49%;
  }

  .post-container {
    width: 100%;
  }

  .other-posts .post-container {
    width: 49%;
  }
/* ENDE CSS BREITEN DER CONTAINER */

/* AUSRUESTUNG FILTER */
  .item-filter {
    grid-template-columns: auto auto;
  }

  .content-desktop {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .post-content-us img {
    margin-bottom: 14px;
  }

  .post-profile-infos-us p {
    line-height: 1.2rem;
    display: flex;
    flex-wrap: wrap;
  }

  .post-profile-infos-us p span {
    padding-right: 10px;
  }

  .other-posts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
/* ENDE MEDIA QUERY 865px ############################ */

/* START MEDIA QUERY 900px ############################ */
@media (min-width: 900px) {
  .hide {
    display: block;
  }
}
/* ENDE MEDIA QUERY 900px ############################ */

/* START MEDIA QUERY 1090px ############################ */
@media (min-width: 1090px) {

  /* START CSS BREITEN DER CONTAINER */
  .algemeiner-post-container {
    width: 78%;
  }

  .user-infos {
    max-width: 20%;
  }

  .post-container {
    width: 100%;
  }

  .other-posts {
    width: 78%;
    margin-left: auto;
  }

  /* ENDE CSS BREITEN DER CONTAINER */
  .counter {
    display: flex;
    flex-direction: column;
  }

  .counter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 0;
  }

  .counter-container span {
    padding-bottom: 0;
  }

  .counter-container, .counter-box {
    font-size: 0.9rem;
  }

  .user-data span {
    font-size: 0.8rem;
  }

  .user-data p {
    font-size: 0.8rem;
  }

  .user-infos-top i {
    font-size: 0.8rem;
  }

  .user-pic {
    width: 30%;
    padding-right: 7px;
  }

  .user-data {
    padding: 0 7px;
  }
}

/* ENDE MEDIA QUERY 1090px ############################ */
