/* START CSS ####################################### */
.video-box {
  padding-bottom: 56.25%;
  position: relative;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom: 8px;
}

.video-box iframe, .video-list-container iframe,
.video-box object, .video-list-container object,
.video-box embed, .video-list-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.video-list-container {
  width: 48%;
  padding-bottom: 24%;
  position: relative;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom: 8px;
}

.video-list-container iframe,
.video-list-container object,
.video-list-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* START MEDIA QUERY 650px ############################ */
@media (min-width: 650px) {
  .video-list-container {
    width: 32%;
    padding-bottom: 15%;
  }
}

/* ENDE MEDIA QUERY 650px ############################ */
/* START MEDIA QUERY 865px ############################ */
@media (min-width: 865px) {

  /* STYLING CSS #################################### */
  .nav-bar-d {
    margin-bottom: 14px;
  }

  #content-d-us-videos {
    display: flex;
    justify-content: space-between;
  }

  #content-d-us-videos .post-container {
    width: 49%;
  }

  .video-list-container {
    width: 24%;
    padding-bottom: 15%;
  }
}

/* ENDE MEDIA QUERY 865px ############################ */
/* START MEDIA QUERY 1090px ############################ */
@media (min-width: 1090px) {
  #content-d-us-videos .user-infos {
    max-width: 20%;
  }

  #content-d-us-videos .post-container {
    width: 78%;
  }

  .post-content-us-v {
    display: block;
  }

  .post-content-us-v video {
    width: 100%;
    margin-bottom: 8px;
  }

  .video-list {
    width: 78%;
    margin-left: auto;
  }

  .video-list-container {
    padding-bottom: 8px;
    width: 24%;
    padding-bottom: 15%;
  }

  .footer-content-m {
    padding: 16px 16px 128px 16px;
  }
}

/* ENDE MEDIA QUERY 1090px ############################ */
